@model DepartmentVM
@{
    ViewData["Title"] = "Create";
}

<div class="block-header">
   <h2>Create Department</h2>
</div>


<form asp-controller="Department" asp-action="Create" class="form-group">

    <label asp-for="Name">@SharedLocalizer["DN"]</label>
    <input type="text" class="form-control" asp-for="Name" />
    <span asp-validation-for="Name" class="text-danger font-bold"></span>
    <br />


    <label asp-for="Code">@SharedLocalizer["DC"]</label>
    <input type="text" class="form-control" asp-for="Code" />
    <span asp-validation-for="Code" class="text-danger font-bold"></span>
    <br />

    <center>
        <input type="submit" value="Save" class="btn btn-primary" />
        <input type="reset" value="Cancle" class="btn btn-danger" />
    </center>

</form>

@section JqueryValidation{
    <script src="~/plugins/jquery-validation/jquery.validate.js"></script>
    <script src="~/plugins/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}